GDAL==3.4.3
numpy==1.26.2
fiona==1.9.5
shapely
contextily
geopandas==0.14.1
cartopy
pyproj
matplotlib
seaborn
pandas==2.1.4
pathlib==1.0.1
datetime
mapclassify
folium
xarray
rioxarray
earthpy==0.9.4
pystac==1.9.0
planetary-computer==1.0.0

